It seems like Krish still hasn't written any devlogs. Bug him on
<a
  href="https://twitter.com/intent/follow?screen_name=kkrishguptaa"
  class="underline underline-offset-4"
  target="_blank"
  rel="noopener noreferrer"
>
  Twitter.
</a>
