---
import "~styles/global.css";
import Head, { type HeadProps } from "~components/Head.astro";

export interface Props {
  head?: Partial<HeadProps>;
}

const { head } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class:list={[
    "bg-white text-black dark:bg-black dark:text-white",
    "antialiased font-body",
    "container mx-auto px-4",
  ]}
>
  <Head {...head} />
  <body>
    <slot />
  </body>
</html>
